.nav {
  position: fixed;
  top: 0;
  height: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: color(primary);
  font-size: $base-font-size * 0.8;
  z-index: 999;
  @include mq(xl) {
    padding: 0 $spacer * 2;
  }

  &__logo {
    color: color(secondary);
    padding-left: $spacer * 2;
    display: none;

    @include mq(sm) {
      display: inline-block;
    }
  }

  &__list {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    &__item a {
      color: color(secondary);
      padding-right: $spacer * 2;

      &:hover,
      &:active {
        color: color(accent);
      }
    }
  }
}
