.nav {
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white;
  font-size: $base-font-size * 0.9;

  &__logo {
    display: none;
  }

  &__list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: $yellow;

    &__item {
      padding-right: $spacer * 2;
    }
  }
}
