.button {
  border: 2px solid color(dark);
  color: color(dark);
  text-transform: uppercase;
  padding: 5px 5px;
  background: color(background);
  border-radius: 10px;
  margin: $spacer * 5;
  text-align: center;
  transition: all 0.5s ease-in-out;
  width: 200px;
  font-size: 1.5rem;
  line-height: 1.45;

  &:hover {
    color: color(background);
    background: $black;
  }

  &--dk {
    border: 2px solid color(background);
    color: color(background);
    background: $black;

    &:hover {
      color: $black;
      background: color(background);
    }
  }
}
