.header__landing {
  height: 100vh;
  background: linear-gradient(
      -45deg,
      rgba(color(primary), 0.5),
      rgba(color(primary), 0.5)
    ),
    url(../images/header-back.jpg) fixed center/cover;
  display: flex;
  flex-direction: column;
  place-content: flex-start;
  place-items: center;
  text-align: center;
  padding: 0 10px;

  &__title {
    margin-top: $spacer * 8;
    color: $white;
  }

  &__sub p {
    color: $white;
    text-transform: lowercase;
    margin: $spacer * 0.9 0;
  }
}

.section__landing {
  text-align: left;
  padding: $spacer * 8 $spacer * 2;
  display: flex;
  flex-direction: column;
  text-align: center;

  & .button {
    margin: 0 auto;
  }

  &--lt h2 {
    @include line-break(
      $margin: $spacer * 2 auto 0,
      $color: linear-gradient(to right, transparent, grey(2)),
      $width: 80%
    );

    @include mq(xl) {
      @include line-break(
        $margin: $spacer * 2 auto 0,
        $color: linear-gradient(to right, transparent, grey(2)),
        $width: 60%
      );
    }
  }

  &--dk {
    color: $white;
  }

  &__content {
    margin: 0 auto $spacer * 3;
    max-width: map-get($breakpoints, xxl);
  }

  // first section closer to header
  &__voice {
    padding-top: $spacer * 5;
  }

  &__web {
    @include backGrad('../images/tiger.png');

    @include mq(lg) {
      @include backGrad('../images/logo.png');
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  &__about {
    @include backGrad('../images/background.png');
    padding-bottom: $spacer * 5;
    text-align: left;

    &__image {
      width: 130px;
      border-radius: 10px;
      float: left;
      margin-right: $spacer;
      box-shadow: 0 0 5px rgba($white, 0.3);
    }
  }
}
