<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <title>Jared Makes - Contact</title>
  </head>
  <body>
    <nav class="nav">
      <a href="./index.html" class="nav__logo button--fall">Jared Makes</a>
      <ul class="nav__list">
        <li class="nav__list__item"><a href="./web.html">Web</a></li>
        <li class="nav__list__item"><a href="./voice.html">Voice</a></li>
        <li class="nav__list__item"><a href="./random.html">Random</a></li>
        <li class="nav__list__item">
          <a href="./contact.html" class="current-page">Contact</a>
        </li>
        <li class="nav__list__item">
          <a href="./about.html">About</a>
        </li>
      </ul>
    </nav>
    <!-- mobile nav -->
    <div class="mobile-nav__toggler">
      <i class="fas fa-bars mobile-nav__toggler--icon"></i>
    </div>
    <nav class="mobile-nav">
      <img
        src="../images/tiger.png"
        alt="jared makes tiger logo"
        class="mobile-nav__image"
      />
      <ul class="nav__list mobile-nav__list">
        <li class="nav__list__item mobile-nav__list__item">
          <a href="./index.html">Home</a>
        </li>
        <li class="nav__list__item mobile-nav__list__item">
          <a href="./web.html">Web</a>
        </li>
        <li class="nav__list__item mobile-nav__list__item">
          <a href="./voice.html">Voice</a>
        </li>
        <li class="nav__list__item mobile-nav__list__item">
          <a href="./random.html">Random</a>
        </li>
        <li class="nav__list__item mobile-nav__list__item">
          <a href="./contact.html">Contact</a>
        </li>
        <li class="nav__list__item mobile-nav__list__item">
          <a href="./about.html">About</a>
        </li>
      </ul>
    </nav>

    <header class="header header__pages">
      <h1 class="header__pages__title">Contact</h1>
    </header>

    <div class="wrapper wrapper__contact">
    <section class="section section__pages">
      <div class="portfolio__entry">
        <!-- form -->
        <form name="Contact Form - Jared Makes" method="post" class="contact-form" data-netlify="true">
          <div class="contact-form__item contact-form__name">
            <label for="name"></label>
            <input type="text" placeholder="Name: " name="user_name">
          </div>
          <div class="contact-form__item contact-form__email">
            <label for="email"></label>
            <input type="email"  placeholder="E-mail: " name="user_email">
          </div>
          <div class="contact-form__item contact-form__message">
            <label for="message"></label>
            <textarea  name="user_message" placeholder="Message:"></textarea>
              <button type="submit" class="button contact-form__button">Send it</button>
          </div>
        </form>
      </div>

    </section>
    <footer class="footer fixed-footer">
    <p>
      Created By
      <a href="#">Jared Truscott</a> &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      <ul
        class="footer__social-links"
      >
        <li>
          <a
            href="http://github.com/trujared"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github-alt"></i
          ></a>
        </li>
        <li>
          <a
            href="http://codepen.io/jaredspens"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-codepen"></i
          ></a>
        </li>
        <li>
          <a
            href="http://twitter.com/trujared"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-twitter-square"></i
          ></a>
        </li>
        <li>
          <a
            href="http://instagram.com/trujared"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
      </ul>
    </p>
  </footer>
          </div>

    <script src="../javascripts/app.js"></script>
  </body>
</html>
