<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <title>Jared Makes</title>
  </head>
  <body>
    <div class="landing-page">
      <header>
        <h1 class="landing-page__title">
          Jared <span class="landing-page__title--spacer">Makes</span>
        </h1>
      </header>
      <nav class="landing-page__nav">
        <ul class="landing-page__nav__list">
          <li class="landing-page__nav__list__item">
            <a href="#" target="_blank">Web</a>
          </li>
          <li class="landing-page__nav__list__item">
            <a href="#" target="_blank">Voice</a>
          </li>
          <li class="landing-page__nav__list__item">
            <a href="#" target="_blank">Random</a>
          </li>
          <li class="landing-page__nav__list__item">
            <a href="#" target="_blank">Contact</a>
          </li>
          <li class="landing-page__nav__list__item">
            <a href="#" target="_blank">About</a>
          </li>
        </ul>
      </nav>
      <!-- <footer class="landing-page__footer">
        <img
          src="../images/tiger.png"
          alt="jared makes logo"
          class="landing-page__footer__image"
        />
      </footer> -->
    </div>
    <script src="../javascripts/index.js"></script>
  </body>
</html>
