// named colors
$white: #fff;
$black: #000;
$yellow: #e7e247;

$palette: (
  primary: #27282e,
  secondary: #8d7f7f,
  accent: #ff6f00,
  dark: #1d2546,
  background: #fefffe,
  base-font-color: #15171e
);

$greys: (
  0: $white,
  1: darken($white, 33%),
  2: darken($white, 50%),
  3: darken($white, 75%),
  4: darken($white, 80%),
  5: darken($white, 100%)
);

$spacer: 1.25rem;

$breakpoints: (
  sm: 480px,
  md: 699px,
  lg: 899px,
  xl: 999px,
  xxl: 1200px
);
