// named colors
$white: #fff;
$black: #000;
$yellow: #e7e247;

$palette: (
  primary: #ef5d60,
  secondary: #254441,
  accent: #b2085d,
  dark: #251b2b,
  background: #fff,
  base-font-color: #424242
);

$greys: (
  0: $white,
  1: darken($white, 33%),
  2: darken($white, 50%),
  3: darken($white, 75%),
  4: darken($white, 80%),
  5: darken($white, 100%)
);

// spacer == 10px (see typography)
$spacer: 1.25rem;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 899px,
  xl: 1199px
);
