// named colors
$white: #fff;
$black: #000;
$yellow: #fdf904;

$palette: (
  // Main Primary color
    primary: #332367,
  primary-lt: #7567a2,
  primary-dk: #0e042e,
  // Main Secondary color (1)
    accent: #4d1d63,
  accent-lt: #89609d,
  accent-dk: #1f022d,
  // Main Secondary color (2)
    secondary: #213763,
  secondary-lt: #63779d,
  secondary-dk: #04122d,
  background: #fff,
  base-font-color: darken($white, 50%)
);

$greys: (
  0: $white,
  1: darken($white, 33%),
  2: darken($white, 50%),
  3: darken($white, 75%),
  4: darken($white, 80%),
  5: darken($white, 100%)
);

// spacer == 10px (see typography)
$spacer: 1.25rem;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 991px,
  xl: 1199px
);
