/* Coolors Exported Palette - coolors.co/b2085d-254441-ef5d60-3b413c-424342 */

/* HSL */
$color1: hsla(330%, 91%, 36%, 1);
$color2: hsla(174%, 30%, 21%, 1);
$color3: hsla(359%, 82%, 65%, 1);
$color4: hsla(130%, 5%, 24%, 1);
$color5: hsla(120%, 1%, 26%, 1);

/* RGB */
$color1: rgba(178, 8, 93, 1);
$color2: rgba(37, 68, 65, 1);
$color3: rgba(239, 93, 96, 1);
$color4: rgba(59, 65, 60, 1);
$color5: rgba(66, 67, 66, 1);