html {
  scroll-behavior: smooth;
}

body {
  background: color(background);
}

a {
  text-decoration: none;
  color: color(secondary);
  transition: all 0.25s ease-in-out;

  &:hover,
  &:active,
  &.current-page {
    color: color(accent) !important;
  }
}

ul {
  list-style: none;
}
