html {
  scroll-behavior: smooth;
}

body {
  background: color(background);
}

a {
  text-decoration: none;
  color: color(secondary);
}

a:hover,
a:active {
  color: color(accent);
}

ul {
  list-style: none;
}
