html {
  scroll-behavior: smooth;
}

body {
  background: color(background);
}

a {
  text-decoration: none;
  color: color(primary);
  transition: all 0.25s ease-in-out;

  &:hover,
  &:active {
    color: color(accent);
  }
}

ul {
  list-style: none;
}
